body { background-color:aqua

}


.everything {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border: royalblue 10px solid;

}


.flex {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  border: white 2px solid; 
  background: black;
  color: black;
  width: 350px;
  height: 500px;
  border-radius: 10%;
  background:rgb(192, 250, 250);
  text-align: justify;
  text-justify: inter-word;

}
img{
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  border-radius: 25%;
}

.nav {
  overflow: visible;
  background-color: #333;
}

.nav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: black;
  color: white;
}

.par1{
 border: 2px orange;
 background-color: white;
 flex-flow: column;
}

.links{   
 background-color: orange;
 flex-flow: column;
}
.links1{   
 background-color: rgb(11, 174, 250);
 flex-flow: column;
}
.links2{   
 background-color: yellow;
 flex-flow: column;
}
.links3{   
 background-color: rgb(0, 89, 255);
 flex-flow: column;
}
.links4{   
 background-color: green;
 flex-flow: column;
}
