{% load static %}

<!-- {% load static %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>M@MAPP</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.css"type="text/css"> 

 <link rel="stylesheet" href="{% static 'css/styles.css' %}"type="text/css">

 <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Architects+Daughter"/> 

  </head>

  <h2>Welcome</h2>
  

</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
 </div>

    <div class="footer">
  <h2>Footer</h2>
    </div>

   
</html> -->




<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profiles Page</title>
  
  <!-- <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css"> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Architects+Daughter"/>
  <base href="/">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
  <!-- <script src="{% static 'js/script.js' %}" defer></script> -->
  
</head>

<body class="sans-serif pv3 ph2">
  <div class="mw9 center">
    {% block content %}
    {% endblock %}
  </div>
 
</body>
</html>