{% extends "base.html" %}

load static

{% block content %}

    <h1><strong>All Profiles</strong></h1>
    <p><button><a class="add" href="{% url 'add_profiles' %}">Add New Profile</a></button>
    


<div class="everything">
          
    {% for profiles in myapp %}

<div class="flex">
          
        <h2> "{{ profile.name }}" </h2>
          
        <img src="{{ profile.image_url }}" height='200' width='250'>
        <h4>, {{ profile.position }}</h4>
        <p> @ {{ profile.company }}</p>
        
        <p>
            <button class="button2"><a class="profilesstuff" href="{% url 'profiles_detail' pk=profile.pk %}">Profile Details</a></button>

            <button class="button2"><a class="profilesstuff"
            href="{% url 'edit_profiles' pk=profile.pk %}"> Edit Profile</a></button>

            <button class="delete_alert button2 profilesstuff" data-profile={{profile.pk}}> Delete Profile</button>

        </p>
<br>          
</div>

    {% endfor %}
       
</div>

{% endblock %}
