{%extends "base.html" %}
{%load static%}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
  <title>m@m</title>
  </head>
  <body>
  <section class="hero">
    <div class="hero-body">
        <div class="container">
        </div>   
    </div>

  </section>
<center>
  <section class="section">          
            <div class="column is-8">
                <div id="box1" class="notification">
                   <center>
                   <h1>Who We Are!</h1>
                    <p>
                    The Momentum@Morehouse program is a colaborative effort with Momentum Learning alongside Morehouse, providing an oppotunity to learn programming to a diverse group of professionals. As graduates from this program we want to provide the service to our class and future students to stay connect and have all the resources at their fingertips. It is essential in the learning process to support one an other and pay it forward! Join us in expanding tech education within our communities. 
                      
                    </p>
                    </center>
                </div>

<div class= "everything2">

<strong><h1 style="color:white">
Tune into our students with OHUB365 via podcast! 
</h1> </strong>
<div id="buzzsprout-player-4743593"></div>
<script src="https://www.buzzsprout.com/1244213/4743593-intro-to-software-development-the-journey.js?container_id=buzzsprout-player-4743593&player=small" type="text/javascript" charset="utf-8"></script>

<div id="buzzsprout-player-4741643"></div>
<script src="https://www.buzzsprout.com/1244213/4741643-ohub-365-momentum-morehouse-coding-camp.js?container_id=buzzsprout-player-4741643&player=small" type="text/javascript" charset="utf-8"></script>
</center>
</div>

<div class="vids">
<center>    
    <strong><h1 style="color:aqua">
        Checkout Our Videos</h1></strong>
<a class="embedly-card" data-card-via="https://embed.ly/code?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHA4wO051lUM" href="https://www.youtube.com/watch?v=HA4wO051lUM">OHUB365 - A Day in the Life of a Coding Bootcamp</a><script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<a class="embedly-card" data-card-via="https://embed.ly/code?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DFdkJFJgpQN8" href="https://www.youtube.com/watch?v=FdkJFJgpQN8">OHUB365 - A Day in the Life of a Coding Bootcamp</a><script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</center>
</div>

{% endblock %}