{%extends "base.html" %}
{%load static%}
{% block content %}
<body>
<p><button><a class="add" href="{% url 'add_profiles' %}">Add New Profile</a></button>

<div class= "img1"
<img src= "html2.jpg" alt="pic">
</div>

<div class= "par1"
<p>
<h2>HTML</h2> 
<img src= "html2.jpg" >
<h4> Here are tools to help you learn and use HTML! 
    <br>
Hypertext Markup Language (HTML) is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript. Web browsers receive HTML documents from a web server or from local storage and render the documents into multimedia web pages. HTML describes the structure of a web page semantically and originally included cues for the appearance of the document.
</br>
</h4>
</div>


<div class= "par2"
<p>
<h2>CSS</h2>

<h4> Here are tools to help you learn and use CSS!




</body>







{% endblock %}