{% extends 'base.html' %} 
{% load static %}
{% block content %}

<button><a class="add" href="{% url 'list_profiles' %}">Return to Networking Directory</a></button>

      <div class="detail_page"> <h1>{{ profile.name }}</h1> </div>
      <img class="image2" src="{{ profile.image_url }}" >
      <div class="location"> {{ profile.position }}
        {% if profile.position %}
         <div class="bio">{{ profile.Bio }}</div>
        {% endif %}</div>
        
        

      
    </div>
    <button class="button2"><a class="profilesstuff"
           href="{% url 'edit_profiles' pk=profile.pk %}"> Edit Profile </a></button>
    <button><a class="add" href="{% url 'list_profiles' %}">Return to Networking Directory</a></button>



{% endblock %}